<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<header id="header1">
			<h1>Todo app - sign up</h1>
		</header>
		<header>
			<a href="/login"><button>Login</button></a>
			<a href="/"><button>Home</button></a>
		</header>

		<form id="signup-form">
			<fieldset>
				<legend>Sign Up</legend>
				<p id="error-message" class="error" style="display: none; color: red"></p>
				<label for="username">Username:</label>
				<input type="text" id="username" name="username" required />
				<br />
				<label for="password">Password:</label>
				<input type="password" id="password" name="password" required />
				<br />
				<button>Sign Up</button>
			</fieldset>
		</form>

		<script src="/js/main.js"></script>
	</body>
</html>
